@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~ant-design-vue/dist/antd.min.css";

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: unset !important;
}

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$light-grey: #f3f3f3;
$black: #000000;
$sea-green: #00d1b2;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// link styles
$navbar-item-active-color: $pink;
$navbar-item-focus-color: $pink;
$navbar-item-color: $black;

@import "~bulma/bulma.sass";

// for fonts scss
.icon {
    .fa {
        color: $black;
        &::before {
            vertical-align: text-top;
        }
    }
}

// cutom scss

.icon {
    .fa {
        color: $black;
        &::before {
            vertical-align: text-top;
        }
    }
}

// header css
.router-link-active.router-link-exact-active {
    color: $navbar-item-active-color;
    font-weight: bold;
    background-color: $light-grey;
    &:hover{
        background-color: $light-grey;
    }
    &:active {
        background-color: $light-grey;
    }
    .icon {
        .fa {
            color: $navbar-item-active-color;
        }
    }
}

.cart-counter {
    padding: 0 5px;
    height: 20px;
    border-radius: 50%;
    color: #000000;
    position: absolute;
    top: 0px;
    left: 85%;
    transform: translate(0%, -50%);
    font-size: 13px;
    font-weight: bold;
}


// login form css

.ant-form-item-children .field .control button{
    border: none;
}

.ant-drawer-header .ant-drawer-title{
    font-size: 1.8rem;
}
