@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: unset !important;
}

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$light-grey: #f3f3f3;
$black: #000000;
$sea-green: #00d1b2;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// link styles
$navbar-item-active-color: $pink;
$navbar-item-focus-color: $pink;
$navbar-item-color: $black;

// ant design changes

.ant-divider-horizontal{
    margin: 10px 0 !important;
}

// loader css

.ant-spin-lg .ant-spin-dot {
    font-size: 60px !important;
}
.ant-spin-nested-loading > div > .ant-spin{
    z-index: 1001 !important;
}
.spin-content {
    border: 1px solid #91d5ff;
    background-color: #e6f7ff;
    padding: 30px;
}

// notification css

.error-notification {
    .ant-notification-notice-message {
        font-weight: 600;
        font-size: 20px !important;
        color: #f5222d;
    }
    .ant-notification-notice-description{
        font-weight: 600;
        color: #000000;
    }
    .ant-notification-notice-close{
        color: #000000;
    }
}

.success-notification {
    .ant-notification-notice-message {
        font-weight: 600;
        font-size: 20px !important;
        color: #52c41a;
    }
    .ant-notification-notice-description{
        font-weight: 600;
        color: #000000;
    }
    .ant-notification-notice-close{
        color: #000000;
    }
}

// fa css
.fa-lg {
    color: #000000;
}

// for fonts scss
.icon {
    .fa {
        color: $black;
        &::before {
            vertical-align: text-top;
        }
    }
}

.icon {
    .fa {
        color: $black;
        &::before {
            vertical-align: text-top;
        }
    }
}

// header css
.router-link-active.router-link-exact-active {
    color: $navbar-item-active-color;
    font-weight: bold;
    background-color: $light-grey;
    &:hover{
        background-color: $light-grey;
    }
    &:active {
        background-color: $light-grey;
    }
    .icon {
        .fa {
            color: $navbar-item-active-color;
        }
    }
}

.ant-badge{
    cursor: pointer;
    .fa-lg{
        font-size: 2em;
    }
}
.forget-icon {
    color: white !important;
    background: #caca3f !important;
}

.user-data-dropdown {
    > .ant-dropdown-menu-item {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        i.anticon {
            font-size: 16px;
        }
    }
    > .ant-dropdown-menu-item:first-child {
        font-weight: 700;
    }
}
// login form css

.ant-form-item-children .field .control button{
    border: none;
}

.ant-drawer-header .ant-drawer-title{
    font-size: 1.8rem;
}


@import "~ant-design-vue/dist/antd.min.css";
@import "~bulma/bulma.sass";

// footer
.footer{
    background-color: #fafafa;
    padding: 5.2rem 1.5rem 3rem;
}
